flows (1).json
[
    {
        "id": "0214bb22ce50b3c9",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0b13c799bf0c0244",
        "type": "mqtt in",
        "z": "0214bb22ce50b3c9",
        "name": "",
        "topic": "/Thinkitive/temp",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "11e1aa211c9363b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 160,
        "wires": [
            [
                "30ed018f026f1a02"
            ]
        ]
    },
    {
        "id": "7c86d5c619f3a58a",
        "type": "mqtt in",
        "z": "0214bb22ce50b3c9",
        "name": "",
        "topic": "/Thinkitive/hum",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f19b83fcfb56e1eb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 220,
        "wires": [
            [
                "9b9e615bf5152b7a"
            ]
        ]
    },
    {
        "id": "30ed018f026f1a02",
        "type": "ui_gauge",
        "z": "0214bb22ce50b3c9",
        "name": "TEMP",
        "group": "4891ef3c1984c596",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#d22d2d"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 330,
        "y": 160,
        "wires": []
    },
    {
        "id": "9b9e615bf5152b7a",
        "type": "ui_gauge",
        "z": "0214bb22ce50b3c9",
        "name": "",
        "group": "4891ef3c1984c596",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidade",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 350,
        "y": 220,
        "wires": []
    },
    {
        "id": "7854fcb6ca23d249",
        "type": "ui_text",
        "z": "0214bb22ce50b3c9",
        "group": "86080001583b2175",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 350,
        "y": 280,
        "wires": []
    },
    {
        "id": "7011f64a7ad0bcfa",
        "type": "mqtt in",
        "z": "0214bb22ce50b3c9",
        "name": "",
        "topic": "/Thinkitive/alerta",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f19b83fcfb56e1eb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 280,
        "wires": [
            [
                "7854fcb6ca23d249"
            ]
        ]
    },
    {
        "id": "a2de0c2d693ef173",
        "type": "mqtt in",
        "z": "0214bb22ce50b3c9",
        "name": "",
        "topic": "/Thinkitive/bateria",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f19b83fcfb56e1eb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 340,
        "wires": [
            [
                "2302ebc0e4dfafc8"
            ]
        ]
    },
    {
        "id": "2302ebc0e4dfafc8",
        "type": "ui_gauge",
        "z": "0214bb22ce50b3c9",
        "name": "",
        "group": "4891ef3c1984c596",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "BATERIA",
        "label": "AH",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 360,
        "y": 340,
        "wires": []
    },
    {
        "id": "32fca86ded9da4de",
        "type": "mqtt in",
        "z": "0214bb22ce50b3c9",
        "name": "",
        "topic": "/Thinkitive/energia",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f19b83fcfb56e1eb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 400,
        "wires": [
            [
                "8d9dd57ba91c7fbb"
            ]
        ]
    },
    {
        "id": "08aff46b161852df",
        "type": "mqtt in",
        "z": "0214bb22ce50b3c9",
        "name": "",
        "topic": "/Thinkitive/perda_eficiencia",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f19b83fcfb56e1eb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 460,
        "wires": [
            [
                "03fe0b306ec2eb18"
            ]
        ]
    },
    {
        "id": "8d9dd57ba91c7fbb",
        "type": "ui_chart",
        "z": "0214bb22ce50b3c9",
        "name": "",
        "group": "86080001583b2175",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Energia Gerada em Watts",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 410,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "03fe0b306ec2eb18",
        "type": "ui_chart",
        "z": "0214bb22ce50b3c9",
        "name": "",
        "group": "86080001583b2175",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Perda de eficiência em %",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 410,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "11e1aa211c9363b6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f19b83fcfb56e1eb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4891ef3c1984c596",
        "type": "ui_group",
        "name": "Dados",
        "tab": "1d1f96028b35608d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "86080001583b2175",
        "type": "ui_group",
        "name": "Avisos",
        "tab": "1d1f96028b35608d",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1d1f96028b35608d",
        "type": "ui_tab",
        "name": "Temp",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]